@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main h1, h2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    font-size: 30px;
    font-family: sans-serif;
    color: #175EA8;
}

main h2{
    font-size: 20px;
    padding : 50px;
    color: #175EA8;
}
